<header class="header">
  <a href="/" class="header__logo">NodeJs</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="<%= isActiveRoute('/', currentRoute) %>">Home</a>
      </li>
      <li>
        <a href="/recommend" class="<%= isActiveRoute('/Recommend', currentRoute) %>">Recommend</a>
      </li>
      <li>
        <a href="/history" class="<%= isActiveRoute('/History', currentRoute) %>">History</a>
      </li>
    </ul>

  </nav>
<% if (typeof readerName !== 'undefined') { %>
  <div class="header__button">
    <a href="/logout-reader">
      Logout
    </a>
  </div>
<% } %>

</header>