<div class="author">
  <% if (typeof readerName !== 'undefined') { %>
    <h1 class="author__heading">History</h1>
  <% } else { %>
    <h1 class="author__heading">You are not logged in.</h1>
    <a href="/login"><button>Log In</button></a>
  <% } %>
</div>
  
<% if (typeof readerName !== 'undefined') { %>
  <section class="articles">
    <% categories.forEach(category => { %>
      <h2><%= category.charAt(0).toUpperCase() + category.slice(1) %></h2>
      <ul class="article-ul">
        <% data.forEach(post => { %>
          <% if (post.category === category) { %>
            <li>
              <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= new Date(post.created_at*1000).toDateString() %></span>
              </a>
            </li>
          <% } %>
        <% }) %>
      </ul>
    <% }) %>
  </section>
<% } %>