<div class="author">
    <% if (typeof readerName !== 'undefined') { %>
      <h1 class="author__heading">History</h1>
    <% } else { %>
      <h1 class="author__heading">You are not logged in.</h1>
      <a href="/login"><button>Log In</button></a>
    <% } %>
  </div>
  
  <% if (typeof readerName !== 'undefined') { %>
    <section class="articles">
      <ul class="article-ul">
        <% data.forEach(post => { %>
          <li>
            <a href="/post/<%= post._id %>">
              <span><%= post.title %></span>
              <span class="article-list__date"><%= post.created_at.toDateString() %></span>
            </a>
          </li>
        <% }) %>
      </ul>
    </section>
  <% } %>